.container {
  height: calc(100vh - 16px);
}

.header {
  height: 50px;
}

.calculator {
  height: calc(100% - 50px);
}

.calculatorDisplay {
  height: 20vh;
  background: lightgrey;
  font-size: 8vh;
  text-align: right;
  color: black;
}

.calculatorButtons {
  display: grid;
  height: 100%;
  min-height: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
}

.calculatorButton {
  font-size: 6vh;
}
